[user]
	name = Hernandes B. de Sousa
	email = hernandes.sousa@gmail.com

[core]
	excludesfile = ~/.gitignore
	editor = vim

[alias]
	aliases = config --get-regexp alias
	br = branch
	ci = commit
	co = checkout
	st = status
	save = !git add -A && git commit -m wip
	edit = reset --soft HEAD^
	d = diff --word-diff=color
	dfs = diff --staged
	fix = commit --amend -C HEAD
	undo = reset --soft HEAD~1
	cleanup = !git branch --merged | grep -v master | xargs -n 1 git branch -d
	# delete current branch but only if it has been properly merged with master
	delete = !BRANCH=$(git rev-parse --abbrev-ref HEAD) && git checkout master && git pull && git branch -d ${BRANCH}

[color]
	ui = true

[pull]
	rebase = true

[push]
	default = current
