[user]
	name = Hernandes B. de Sousa
	email = hernandes.sousa@gmail.com

[core]
	excludesfile = ~/.gitignore
	editor = vim

[alias]
	aliases = config --get-regexp alias
	br = branch
	ci = commit
	co = checkout
	st = status
	save = !git add -A && git commit -m wip
	edit = reset --soft HEAD^
	d = diff --word-diff=color
	dfs = diff --staged
	fix = commit --amend -C HEAD
	delete = !git checkout master && git pull && git branch -d
	undo = reset --soft HEAD~1

[color]
	ui = true

[pull]
	rebase = true

[push]
	default = matching
